# ignore .DS Store file
.DS_Store

#ignore .Rproj.user
#tweet_sentiment_analysis/.Rproj.user
*.Rproj.user

#ignore .RData
*.RData

#ignore .Rproj
*.Rproj

# ignore .Rhistory
*.Rhistory

# ignore old versions of rmd and html files
tweet_sentiment_analysis/honors_project.pdf
tweet_sentiment_analysis/honors_project.html